.med-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.med-table th,
.med-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.med-table th {
  background-color: #114161;
  color: #fff;
}

.med-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
