.app-sidebar {
  background-color: #fff;
  padding: 1rem;
  height: 100vh; /* Full height */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-item a.active {
  /* color: #34c3ff; */
  color: #005a87;
  /* border-left: 4px solid #34c3ff; */
  border-left: 4px solid #005a87;
  padding-left: 1rem;
}
